<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- Indica que todas as solicitações devem ser tratadas pelo Node.js -->
      <add name="iisnode" path="app.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <!-- Redireciona todas as requisições para o app.js -->
        <rule name="DynamicContent">
          <match url=".*" />
          <action type="Rewrite" url="app.js" />
        </rule>
      </rules>
    </rewrite>
    <security>
      <!-- Remove cabeçalhos que podem expor informações desnecessárias -->
      <requestFiltering removeServerHeader="true" />
    </security>
    <httpErrors>
      <!-- Redireciona erros para o Node.js -->
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" path="/app.js" responseMode="ExecuteURL" />
    </httpErrors>
    <iisnode 
      loggingEnabled="true" 
      devErrorsEnabled="true" 
    />
  </system.webServer>
</configuration>